static/scriptmanager/es2015-polyfills.js    binary
static/scriptmanager/main.js                binary
static/scriptmanager/polyfills.js           binary
static/scriptmanager/runtime.js             binary
static/scriptmanager/scripts.js             binary
static/scriptmanager/styles.css             binary
