<div class="section">
  <div class="container">
    <ng-container *ngIf="scripts.length !== 0">
      <div *ngFor="let script of scripts">
        <blockquote>
          <span class="tag is-primary is-medium">Foss</span>
          {{script.foss}}
        </blockquote>
        <div class="columns">
          <div class="column is-8">
            <div class="title">
              <h4>{{ script.tutorial }}</h4>
            </div>
            <div class="desc">
              <p><b>Outline: {{ script.outline }}</b></p>
              <p><b>Published by: </b>{{ script.published_by }}</p>
              <p><b>Published on: </b>{{ script.published_on }}</p>
              <p><b>Created by: </b>{{ script.created_by }}</p>
            </div>
          </div>
          <div class="column is-4 buttons">
            <div class="field is-grouped is-grouped-multiline">
              <div class="control" *ngIf="script.editable">
                <a routerLink="/edit/{{ script.domain }}/{{ script.fid }}/{{ script.tid }}/{{ script.lid }}/{{ script.tutorial }}/{{ script.versionNo }}">
                  <app-badge-button faClass="fa fa-edit" textClass="is-success" text="Edit" textTooltip="Click here to edit the script"></app-badge-button>
                </a>
              </div>
              <div class="control" *ngIf="script.editable">
                <a routerLink="/view/{{ script.domain }}/{{ script.fid }}/{{ script.tid }}/{{ script.lid }}/{{ script.tutorial }}/{{ script.versionNo }}">
                  <app-badge-button faClass="fa fa-eye" textClass="is-info" text="View" textTooltip="Click here to view the script"></app-badge-button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="is-divider" data-content="-"></div>
      </div>
    </ng-container>


  </div>
</div>
