<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Script Manager</title>
        <link rel="icon" type="image/x-icon" href="{% static 'scriptmanager/favicon.ico' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        {% block metatag %}
        {% endblock %}
        <style type="text/css">
            .nav-border{
                border-bottom: 2px solid #054C77!important;
                padding: 1rem 0 1rem 0;
            }
            .logo{
                display: block!important;
            }
            .main-title{
                display: block;
                margin-left: 2rem;
            }
            .navbar-item img {
                max-height: 3rem!important;
            }
        </style>
        {% block cssblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar has-shadow nav-border">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="https://spoken-tutorial.org/static/spoken/images/logo.png" alt="Spoken Tutorial Script Manager" class="logo">
                        <span class="main-title">Spoken Tutorial <span style="color: orange;">Script Manager</span></span>

                    </a>
                    <div class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="navbar-end">
                    {% if user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">

                        <a class="navbar-link">
                        Account
                        </a>
                        <div class="navbar-dropdown">
                            {% if user.is_staff %}
                            <a class="navbar-item" href="admin/">
                                Dashboard
                                </a>
                            {% endif %}
                            <a class="navbar-item" href="{% url 'change_password'%}">
                                Change password
                                </a>
                            <a class="navbar-item" href="{% url 'logout'%}">
                            Logout
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <a class="navbar-item" href="{% url 'login'%}">
                        Login
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% block search %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block jsblock %}
        {% endblock %}
    </body>
</html>
